
.navbar-brand {
background-color: rgb(215, 255, 255);
}

.font {
    font-family: 'Source Serif Pro', serif;
    color: #3d1f1f ;
}

body {
   background-image: url(https://wallpaper-house.com/data/out/12/wallpaper2you_568983.gif);
}

nav {
    margin-bottom: 60px;
}

.container {
height: 600px;
border:#3d1f1f 10px solid;
background-color: rgb(215, 255, 255);
}

.footer {
    border-top: lightseagreen 6px solid; 
    margin-top: 60px;
    border-bottom: #3d1f1f  60px solid;
}

.btn-primary {
    color: #fff;
    border-color:#3d1f1f;
    background-color: rgb(215, 255, 255);
    
}

#index-img
{
padding: 10px;
border:#3d1f1f 10px solid;  
}

#portfolio-img
{
margin: 30px;
padding: 10px;
border:#3d1f1f 10px solid;  
}
.col {
    padding: 30px;
}

.row{
    padding: 0px;
    margin: 0px;
}
