/*changed color of my name of top left corner.*/
.navbar-brand {
background-color: rgb(215, 255, 255);
}
/*changed font and color*/
.font {
    font-family: 'Source Serif Pro', serif;
    color: #3d1f1f ;
}
/* whole webpage background image.*/
body {
   background-image: url(images/background.gif);
}
/* changed container color and size.*/
.container {
border:#3d1f1f 10px solid;
background-color: rgb(215, 255, 255);
margin-bottom: 60px;
}

/* Submit button look.*/
.btn-primary {
    color: #3d1f1f;
    border-color:#3d1f1f;
    background-color: lightseagreen;
    margin-bottom: 20px;
    
}

/* made border around the profile picture on index page.*/
#index-img
{
margin: 10px;
padding: 10px;
border:#3d1f1f 10px solid;  
float: left;
}
/* made border around the portfolio pictures.*/
#portfolio-img
{
margin: 10px;
padding: 10px;
border:#3d1f1f 10px solid;  
}
.githublink
{
background-color: aquamarine; 
color: #3d1f1f;

}

/* Added social media icons.*/
#SMS-icons 
{
height: 50px;
width: 50px;
}

#resume
{
 height: 300px;  
 width: 200px; 
margin: 10px;
padding: 10px;
border:#3d1f1f 10px solid;  
}

#clickResume
{
 font-size: medium;
 color: rgb(0, 155, 103);
}

/* created border of footer.*/
.footer {
    margin: 100;
    border-top: lightseagreen 6px solid; 
    border-bottom: #3d1f1f  60px solid;
}
